venv
.idea/
# Ignore the images folder
app/static/images/

# Do not ignore the css and js folders
!app/static/css/
!app/static/js/


app/__pycache__

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development configuration
instance/

# Logs
*.log

# Compiled Python files
*.pyc

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
nosetests.xml
nosetests.xml.*

# Flask cache
__pycache__/
*.pyc
.cache/
