<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

    <form method="post" enctype="multipart/form-data">
      <input type="file" id="myFile" name="filename">
      <input type="submit">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% if image%}
        <img src="{{ url_for('static', filename='images/image.jpg') }}"  alt="" width="{{ data.width / 3}}" height="{{ data.height / 3 }}">

        <ul>
            {% for k, v in data.items() %}
                <li>{{ k }} - {{ v }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>